@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto+Slab&display=swap');

/*PROFIL GOOGLE*/
.data {
    display: none;
}

.g-signin2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}



