@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto+Slab&display=swap');
body {
    background-color: rgb(19, 19, 19);
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: antiquewhite;
}

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-weight: 500;
    font-size: 25px;
    color: antiquewhite;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

input[type="text"] {
    font-size: larger;
    text-align: center;
    color: antiquewhite;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 100px;
    height: 50px;
    background-color: #131313;
    border-color: white;
    border-radius: 50px;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 50px;
}

.nav__links li a {
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover {
    color: #f76b6b;
}

button {
    padding: 9px 25px;
    background-color: #f76b6b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(255, 85, 85, 0.8);
}

h1 {
    text-align: center;
    font-size: 65px;
    color: antiquewhite;
}


.box{
    border: 2px solid antiquewhite;
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin-bottom: 50px;
    margin-top: 50px;

}

.frontpage {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100vh;
    margin: auto;
    padding: auto;
}

span::before {
    content: "Matte";
    animation: animate infinite 10s;
    padding-left: 10px;
    color: #f76b6b;
}

@keyframes animate {

    50% {
        content: "Prosent";
    }

    100% {
        content: "Brøk";
    }
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: antiquewhite;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #f76b6b;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: antiquewhite;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: antiquewhite;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: antiquewhite;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: antiquewhite;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.informasjon {
    color: antiquewhite;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
}
.informasjonLink {
    color: antiquewhite;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    font-style: bold;
    font-style: italic;
    color: #f76b6b;
}

body::-webkit-scrollbar {
    width: 10px;
}

body ::-webkit-scrollbar-track {
    background: antiquewhite;
}

body::-webkit-scrollbar-thumb {
    background: #212121;
}

* {
    box-sizing: border-box;
}
.checkbox{
    background-color: #bbbbbb;
    display: flex;
    border-radius: 50px;
    align-items: center;
    padding: auto;
    margin: auto;
}
.centerText {
    text-align: center;
    color: antiquewhite;
}

.kebablink{
    color: #f76b6b;
    font-size: 18px;
    font-weight: bolder;
}

h3{
    color: #f76b6b;
    font-size: larger;
}



