@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto+Slab&display=swap');

body {
    background-color: rgb(19, 19, 19);
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Slab', serif;
    
}